form {
  margin: auto;
}

input {
  margin: 5px;
  width: 190px;

  border: 2px solid black;
  font-size: 18px;
}

.navLink {
  text-decoration: none;
  cursor: default;
}

.error-tag {
  pointer-events: none;
  color: white;
}

input {
  outline: 0;
  background-color: #000000;
  border-width: 0 0 2px;
  border-color: #fff;
  color: #fff;
}
input:focus {
  border-color: #fff;
  color: #fff;
}
