form {
  margin: auto;
}

input {
  margin: 5px;
  width: 190px;
  border: 2px solid black;
  font-size: 18px;
  outline: 0;
  background-color: #000;
  border-width: 0 0 2px;
  border-color: #FFF;
  color: #FFF;
}

input:focus {
  border-color: #FFF;
  color: #FFF;
}

.navLink {
  text-decoration: none;
  cursor: default;
}

.error-tag {
  pointer-events: none;
  color: #FFF;
}
